<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Best Online Food Delivery Service in India | MyOnlineMeal.com</title>
    <link rel="stylesheet" href="/static/css/style.css">
    <link rel="stylesheet" media="screen and (max-width: 1170px)" href="/staic/css/phone.css">
    <link href="https://fonts.googleapis.com/css?family=Baloo+Bhai|Bree+Serif&display=swap" rel="stylesheet">
</head>

<body>
    <nav id="navbar">
        <div id="logo">
            <img src="/static/logo.png" alt="MyOnlineMeal.com">
        </div>
        <ul>
            <li class="item"><a href="/">Home</a></li>
            <li class="item"><a href="/services">Services</a></li>
            <li class="item"><a href="/clients">Our Clients</a></li>
            <li class="item"><a href="/contact">Contact Us</a></li>
        </ul>
    </nav>


    <section id="client-section">
        <h1 class="h-primary center">Our Clients</h1>
        <div id="clients">
            <div class="client-item">
                <img src="/static/img/logo1.png" alt="Our Client">
            </div>
            <div class="client-item">
                <img src="/static/img/logo2.png" alt="Our Client">
            </div>
          
            <div class="client-item">
                <img src="/static/img/logo4.png" alt="Our Client">
            </div>
            <div class="client-item">
                <img src="/static/img/logo3.png" alt="Our Client">
            </div>
        </div>

    </section>

    <footer>
        <div class="center">
            Copyright &copy; www.myOnlineMeal.com. All rights reserved!
        </div>
    </footer>
</body>

</html>